.score {
    text-align: right;
    flex: 2;
}

.top-bar {
    width: 100%;
    height: 64px;
    background-color: #ccc;
    display: flex;
}

.icon {
    font-size: 32px;
}

.top {
    flex: 1;
    text-align: center;
}

.title {
    flex: 2;
}

.moving {
    position: absolute;
    font-size: 64px;
    background: none;
    border: none;
    outline: none;
}

.gameboard {
    width: 100%;
    height: 90%;
    background-color: whitesmoke;
}

h1 {
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}